<div class="container">
    <div class="card text-center mt-3">
        <div class="card-header">
          Welcome
        </div>

        <div style="min-height: 550px;" class="d-flex card-body justify-content-center flex-column">
          <h3 class="card-title">This is A simple Chat App</h3>
          <p class="card-text">Built with express js + socket.io</p>
        </div>

        <div class="card-footer text-muted">
          Coded By Bonevian
        </div>
    </div>
</div>